#login-buttons {
  background: none;

  * {
    background: none;
  }

  #login-buttons-facebook {
    display: block;
    @extend .fa;
    @extend .fa-facebook;
  }
  #login-buttons-facebook::after {
    display: block;
    @extend .fa;
    @extend .fa-facebook;
  }
}