
<template name="designLibrary">
    <h2>HTML/CSS Design Components</h2>
    {{>newComponent}}
    {{>componentList}}
</template>

<template name="newComponent">
    <form class="create-component">
        {{> field name="title" label="Title" }}
        {{> field tag="textarea" name="html" label="HTML" }}
        {{> field tag="textarea" name="css" label="CSS" }}
        {{> buttonSave }}
    </form>
</template>

<template name="componentList">
    <ul id="components">
        {{#each component}}
            <li>
                {{>componentPreview}}
            </li>
        {{/each}}
    </ul>
</template>

<template name="componentPreview">
    <h3>{{title}}</h3>
    <style>
        {{previewStyle}}
    </style>
    <span class="preview-wrapper {{title}}">
        {{{html}}}
    </span>
    <div class="code-wrapper">
        <pre>{{html}}</pre>
        <pre>{{style}}</pre>
    </div>
</template>
