
/*
@media all and (max-width: 800px) {
  .new-post-preview {
    display: none;
  }
}
*/

span.title {
  font-size: 2rem;
  text-shadow: 1px 1px 1px rgba(200,200,255,0.5);
}

.icon-input input {
  max-width: 18rem;
}

.user-hud {
  display: inline-block;
  font-style: italic;
  margin-left: 1rem;
  
  * {
    color: rgba(200,225,255,1);
  }
}