<template name="blog">
    <div class="details-inner">
        {{>newPost}}
        {{>postList}}
    </div>
</template>

<template name="newPost">
    <form class="create-post pure-form">
        <div class="labeled-input">
            <label for="title">Title</label>
            <input type="text" name="title"/>
        </div>
        <div class="labeled-textarea">
            <label for="content">Content</label>
            <textarea type="textarea" name="content"></textarea>
        </div>
        {{> buttonSave }}
    </form>
</template>

<template name="postList">
    <ul>
        {{#each post}}
            <li>
                {{>postPreview}}
            </li>
        {{/each}}
    </ul>
</template>

<template name="postPreview">
    <button class="delete-post right">Delete</button>
    <span class="title">{{title}}</span>
    <span class="date">{{date}}</span>
    <pre class="preview content">{{content}}</pre>
</template>