<template name="blog">
    <div class="details-inner">
        {{> createPost }}
        {{> postList }}
    </div>
</template>

<template name="createPost">
    <form class="create-post">
        {{> field name="title" label="Title" }}
        {{> field tag="textarea" name="content" label="Content" }}
        {{> buttonSave }}
    </form>
    {{> button name="expand" icon="expand" }}
    {{> newPostPreview }}
</template>

<template name="newPostPreview">
    <div class="new-post-preview next-mark">
        <span class="title">{{title}}</span>
        <span class="date">{{date}}</span>
        <div class="preview content">{{content}}</div>
    </div>
</template>

<template name="postList">
    <ul class="post-list">
        {{#each post}}
            {{> postPreview }}
        {{/each}}
    </ul>
</template>

<template name="postPreview">
    <li data-id="{{_id}}">
        <button class="delete-post right">Delete</button>
        <button class="open-edit-post right">Edit</button>
        <span class="title">{{title}}</span>
        <span class="date">{{date}}</span>
        <div class="preview content next-mark">{{{content}}}</div>
    </li>
</template>

<template name="editPost">
    <form class="edit-post">
        {{> buttonClose class="close-edit-post right" }}
        
        {{> field
            name="title"
            label="Title"
            val=title
        }}
        
        {{> field
            tag="textarea"
            name="content"
            label="Content"
            val=content
        }}
        
        {{> buttonSave }}
    </form>
</template>
