<template name="blog">
    <div class="details-inner">
        {{>newPost}}
        {{>postList}}
    </div>
</template>

<template name="newPost">
    <form class="create-post">
        {{> field name="title" label="Title" }}
        {{> field tag="textarea" name="content" label="Content" }}
        {{> buttonSave }}
    </form>
    {{> newPostPreview }}
</template>

<template name="newPostPreview">
    <div class="new-post-preview next-mark">
        <span class="title">{{title}}</span>
        <span class="date">{{date}}</span>
        <div class="preview content">{{content}}</div>
    </div>
</template>

<template name="postList">
    <ul class="post-list">
        {{#each post}}
            <li>
                {{>postPreview}}
            </li>
        {{/each}}
    </ul>
</template>

<template name="postPreview">
    <button class="delete-post right">Delete</button>
    <span class="title">{{title}}</span>
    <span class="date">{{date}}</span>
    <div class="preview content next-mark">{{{content}}}</div>
</template>